/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .jumbotron {
  background-image:url('end.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 字体;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.navbar-default {
    margin-bottom: 0;
    border-radius: 0;
}

html {
   position: relative;
   min-height: 100%;
 }

 body {
   /* Margin bottom by footer height */
   margin-bottom: 100px;
 }

 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 150px;
   background-color: #686868;
   margin: 0 -15px;

   span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: 24px;
    line-height: 23px;
  }

   p {
      color: white;
     margin-top: 65px;
   }
  }

  /*5种背景颜色*/
.bg-color1 {
  background: #FFFFFF;
}

.bg-color2 {
  background: #C0C0C0;
}

.bg-color3 {
  background: #B0B0B0;
}

.bg-color4 {
  background: #A0A0A0;
}

.bg-color5 {
  background: #909090;
}

.bg-color6 {
  background: #C0C0C0;
}

.bg-color7 {
  background: #B0B0B0;
}

.bg-color8 {
  background: #A0A0A0;
}

.bg-color9 {
  background: #909090;
}

.bg-color10 {
  background: #D0D0D0;
}

.bg-color11 {
  background: #A8A8A8;
}

.bg-color12 {
  background: #C8C8C8;
}

/*商品详情*/
.productDecription {
	width: 100%;
  text-align: center;
	margin: 20px auto;
  line-height: 20px;
}

.productDecription-menuList {
	height: 20px;
}

.productDecription-menuList-item {
	float: left;
	width: 25%;
	height: 35px;
}

.productDecription-content {
	width: 100%;
  height: 550px;
  margin: 0;
}

.productDecription-content-item {
  display: none;
  width: 100%;
  height: 550px;
}

// 弹窗
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

/*菜单*/
.menu {
  width: 100%;
}

.menuList {
  width: 1200px;
  top: 0;
  height: 42px;
}

.menuList-item {
  float: left;
  width: 108px;
  height: 42px
}
